#You shouldn't store sensible data at the root of your website

JORANI_BASE_URL="http://localhost/jorani/"
JORANI_CLIENT_ID="whoami"
JORANI_CLIENT_SECRET="pwdpwd"
JORANI_REDIRECT_URI="http://localhost/whoami/"
